<h1>New add google oauth to u sers for calendar</h1>

<%= render "form", add_google_oauth_to_u_sers_for_calendar: @add_google_oauth_to_u_sers_for_calendar %>

<br>

<div>
  <%= link_to "Back to add google oauth to u sers for calendars", add_google_oauth_to_u_sers_for_calendars_path %>
</div>
